<app-top-bar></app-top-bar>
<app-nav-bar></app-nav-bar>
<main>
  <section id="landing_section" class="h-[60vh]">
    <div
      class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
      style="background-image: url(&quot;pro-training/landing_image2.jpg&quot;)"
    >
      <div class="absolute inset-0 bg-black/50"></div>
      <div class="relative flex h-full w-full items-center justify-center">
        <h1 class="text-center text-4xl text-white md:text-5xl lg:text-6xl">
          Pro-Training
        </h1>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2 class="text-center text-2xl font-bold text-primary md:text-4xl">
        Welcome to ATC Pro Training
      </h2>
      <div class="mx-auto max-w-screen-lg">
        <p class="text-center text-base text-grayTitle md:text-xl">
          ATC Pro Training, a division of ATC Group Middle East - Ashraf Abdel
          Ghani Accountants and Tax Consultants, is dedicated to providing
          top-tier professional training programs designed to enhance the skills
          and knowledge of individuals and businesses in the fields of
          accounting, taxation, and finance.
        </p>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div
        class="flex flex-col gap-10 lg:flex-row lg:justify-between lg:gap-20"
      >
        <div class="flex h-full w-full flex-col gap-10 lg:w-1/2">
          <div class="block h-[35vh] lg:hidden">
            <div
              class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
              style="
                background-image: url(&quot;pro-training/professional_education.jpeg&quot;);
              "
            >
              <div
                class="absolute bottom-8 left-6 bg-primary px-8 py-4 text-xl font-bold text-white"
              >
                ATC Group
              </div>
            </div>
          </div>
          <div>
            <h3
              class="my-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
            >
              Professional Education
            </h3>

            <p class="text-xl text-grayTitle lg:pl-7">
              Comprehensive courses designed to equip you with industry-relevant
              knowledge and skills.
            </p>
            <h3
              class="my-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
            >
              International Certifications
            </h3>

            <p class="text-xl text-grayTitle lg:pl-7">
              Specialized programs in key areas:
            </p>

            <ul class="list-none p-0 lg:pl-7">
              <div class="mb-3 flex">
                <li class="flex w-1/2 items-start gap-2">
                  <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                  <span class="text-lg text-grayTitle"> Accounting </span>
                </li>
                <li class="flex w-1/2 items-start gap-2">
                  <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                  <span class="text-lg text-grayTitle"> Taxation </span>
                </li>
              </div>
              <div class="mb-3 flex">
                <li class="flex w-1/2 items-start gap-2">
                  <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                  <span class="text-lg text-grayTitle"> Finance </span>
                </li>
                <li class="flex w-1/2 items-start gap-2">
                  <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                  <span class="text-lg text-grayTitle"> Audit </span>
                </li>
              </div>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  Financial Management
                </span>
              </li>
            </ul>
          </div>

          <!-- <div
            class="mb-4 mt-auto flex items-center justify-center lg:block lg:pl-7"
          >
            <a
              href="https://atcprotraining.com/"
              target="_blank"
              class="rounded-lg bg-black px-20 py-3 text-xl font-bold text-white no-underline hover:bg-primary"
              >Enroll Now</a
            >
          </div> -->
        </div>

        <div class="hidden lg:block lg:w-1/2">
          <div
            class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="
              background-image: url(&quot;pro-training/professional_education.jpeg&quot;);
            "
          >
            <div
              class="absolute bottom-10 left-8 bg-primary px-20 py-5 text-3xl font-bold text-white"
            >
              ATC Group
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#F9F7F7] py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              1. Professional Financial Accountant (PFA)
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              PFA is designed to develop your knowledge of accounting standards
              and practices. PFA body of knowledge will effectively enhance your
              understanding of the underlying accounting concepts, principles
              and their practical application.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              2. Certified Management Accountant (CMA)
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              Gain a globally recognized certification that equips you with the
              expertise needed to manage finance functions and strategic
              management.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              3. Diploma in International Financial Reporting (DipIFR):
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              Enhance your knowledge of international financial reporting
              standards (IFRS) and improve your career prospects in the
              accounting and finance industry.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              4. Advanced Diploma in International Taxation (ADIT):
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              Specialize in international taxation with a focus on key areas
              such as transfer pricing, VAT, and double tax treaties.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              5. Financial Modeling and Analyst Association (FMAA):
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              This prestigious certification is designed for professionals
              seeking to deepen their expertise and enhance their credentials.
              The FMAA Certificate covers key areas such as financial analysis,
              risk management, and strategic planning, equipping you with the
              skills needed to excel in the industry.
            </p>
          </div>
        </div>
        <div
          class="hvr-sweep-to-right border-0 border-l-2 border-solid border-black bg-white px-6 py-3 hover:border-primary"
        >
          <div class="flex items-center gap-4 md:min-h-28">
            <h3 class="mt-0 flex-1 text-2xl font-bold text-primary md:text-3xl">
              6. TAX:
            </h3>
          </div>
          <div>
            <p class="text-base md:text-xl">
              This program equips professionals with essential skills in income
              tax, VAT, payroll, stamp, and real estate taxes, along with
              training on ETA submissions, tax inspections, and electronic
              invoicing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10" id="internship_opportunities">
    <div class="mx-auto max-w-screen-xl p-4">
      <div
        class="flex flex-col gap-10 lg:flex-row lg:justify-between lg:gap-20"
      >
        <div class="hidden lg:block lg:w-1/2">
          <div
            class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="
              background-image: url(&quot;pro-training/future_offerings.jpg&quot;);
            "
          ></div>
        </div>
        <div class="flex h-full w-full flex-col gap-10 lg:w-1/2">
          <div>
            <div class="block h-[35vh] lg:hidden">
              <div
                class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
                style="
                  background-image: url(&quot;pro-training/future_offerings.jpg&quot;);
                "
              ></div>
            </div>
            <h2
              class="mt-5 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold lg:mt-0"
            >
              Future Offerings
            </h2>

            <ul class="list-none space-y-2 p-0 lg:pl-7">
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  CPA (Certified Public Accountant)
                </span>
              </li>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  ACCA (Association of Chartered Certified Accountants)
                </span>
              </li>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  CIA (Certified Internal Auditor)
                </span>
              </li>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  FMVA (Financial Modeling and Valuation Analyst)
                </span>
              </li>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  CSCA (Certified in Strategy and Competitive Analysis)
                </span>
              </li>
              <li class="flex items-start gap-2">
                <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

                <span class="text-lg text-grayTitle">
                  CIPA (Certified Islamic Professional Accountant)
                </span>
              </li>
            </ul>
          </div>

          <div
            class="mb-4 mt-auto flex items-center justify-center lg:block lg:pl-7"
          >
            <a
              href="https://atcprotraining.com/atc-pro-training-course-registration-form"
              target="_blank"
              class="rounded-lg bg-black px-20 py-3 text-xl font-bold text-white no-underline hover:bg-primary"
              >Register Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary py-10 text-white">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2 class="mt-0 p-2 pl-4 text-center text-4xl font-bold">
        Why Choose ATC Pro Training ?
      </h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="p-4">
          <div class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-5xl text-white"></i>
            <h3 class="m-0 text-2xl font-bold">Expert Instructors</h3>
          </div>
          <p class="text-xl">
            Our courses are led by industry experts with extensive experience
            and knowledge, ensuring you receive the highest quality education.
          </p>
        </div>
        <div class="p-4">
          <div class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-5xl text-white"></i>
            <h3 class="m-0 text-2xl font-bold">Flexible Learning Options</h3>
          </div>
          <p class="text-xl">
            We offer both in-person and online training options to accommodate
            your schedule and learning preferences.
          </p>
        </div>
        <div class="p-4">
          <div class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-5xl text-white"></i>
            <h3 class="m-0 text-2xl font-bold">Comprehensive Curriculum</h3>
          </div>
          <p class="text-xl">
            Our courses are meticulously designed to cover all essential topics
            and provide practical insights, preparing you for real-world
            challenges.
          </p>
        </div>
      </div>
      <div
        class="mx-auto grid max-w-screen-lg grid-cols-1 gap-8 md:grid-cols-2"
      >
        <div class="p-4">
          <div class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-5xl text-white"></i>
            <h3 class="m-0 text-2xl font-bold">
              Certification and Recognition
            </h3>
          </div>
          <p class="text-xl">
            Upon successful completion of our courses, you will receive
            certificates that are recognized globally, enhancing your
            professional credibility.
          </p>
        </div>
        <div class="p-4">
          <div class="flex items-center gap-3">
            <i class="fa-regular fa-circle-check text-5xl text-white"></i>
            <h3 class="m-0 text-2xl font-bold">Latest education technology</h3>
          </div>
          <p class="text-xl">
            Our cutting-edge educational technology provides an immersive
            learning experience. The advanced tools and platforms we have ensure
            that our learning process is engaging and effective, preparing our
            trainees with the skills needed for success.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <h2 class="text-center text-4xl text-primary">
        Corporate Training Programs
      </h2>
      <div class="flex flex-col gap-10 md:flex-row md:gap-20">
        <div class="md:w-1/2">
          <h3
            class="mt-5 border-0 border-l-[12px] border-solid border-primary p-4 text-3xl font-bold lg:mt-0"
          >
            Current Courses
          </h3>

          <ul class="list-none space-y-2 p-0 lg:pl-7">
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"> Cost Management </span>
            </li>
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"> Financial Controls </span>
            </li>
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"> Accounting </span>
            </li>
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle">
                CTPro (Corporate Training Professional)
              </span>
            </li>
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle">
                EAS (Effective Accounting Systems)
              </span>
            </li>
          </ul>
        </div>
        <div class="md:w-1/2">
          <h3
            class="mt-5 border-0 border-l-[12px] border-solid border-primary p-4 text-3xl font-bold lg:mt-0"
          >
            Future Courses
          </h3>

          <ul class="list-none space-y-2 p-0 lg:pl-7">
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"
                >Planning and Budgeting
              </span>
            </li>

            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"> Risk Management </span>
            </li>
            <li class="flex items-start gap-2">
              <i class="pi pi-circle-on mt-2 text-xs text-primary"></i>

              <span class="text-lg text-grayTitle"> Audit Techniques </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-[#F9F7F7] py-10">
    <div class="mx-auto max-w-screen-xl p-4">
      <div
        class="flex flex-col gap-10 lg:flex-row lg:justify-between lg:gap-20"
      >
        <div class="flex h-full w-full flex-col gap-10 lg:w-1/2">
          <div>
            <h2
              class="mt-0 border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
            >
              Delivery Modes
            </h2>

            <p class="text-lg text-grayTitle lg:pl-7">
              Available both online and offline to suit your learning
              preferences.
            </p>
            <div class="block h-[35vh] lg:hidden">
              <div
                class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
                style="
                  background-image: url(&quot;pro-training/online.jpg&quot;);
                "
              >
                <div
                  class="absolute bottom-8 left-6 bg-primary px-8 py-4 text-xl font-bold text-white"
                >
                  ATC Group
                </div>
              </div>
            </div>
            <p class="text-xl text-primary lg:pl-7">
              Our programs are tailored to help you achieve international
              certifications and advance your career, whether you are looking to
              deepen your expertise in your current field or expand into new
              areas. At ATC Pro Training, we are here to support your journey to
              professional excellence.
            </p>
          </div>
        </div>

        <div class="hidden lg:block lg:w-1/2">
          <div
            class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
            style="background-image: url(&quot;pro-training/online.jpg&quot;)"
          >
            <div
              class="absolute bottom-10 left-8 bg-primary px-16 py-3 text-2xl font-bold text-white"
            >
              ATC Group
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="relative left-0 top-0 w-full bg-cover bg-center bg-no-repeat"
    style="background-image: url(&quot;pro-training/latest_training.jpeg&quot;)"
  >
    <div class="mx-auto max-w-screen-xl px-4 py-8">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
        <div>
          <p-image
            src="pro-training/training5.jpeg"
            alt="Image"
            width="100%"
            [preview]="true"
          />
        </div>
        <div>
          <p-image
            src="pro-training/training2.jpeg"
            alt="Image"
            width="100%"
            [preview]="true"
          />
        </div>
        <div>
          <p-image
            src="pro-training/training3.jpeg"
            alt="Image"
            width="100%"
            [preview]="true"
          />
        </div>
        <div>
          <p-image
            src="pro-training/training4.jpeg"
            alt="Image"
            width="100%"
            [preview]="true"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="py-10">
    <div
      class="mx-auto flex max-w-screen-xl flex-col-reverse gap-10 p-4 md:flex-row lg:gap-20"
    >
      <div
        class="my-auto flex flex-col items-center gap-6 p-4 md:w-1/2 md:items-start"
      >
        <h2
          class="my-0 w-full border-0 border-l-[12px] border-solid border-primary p-4 text-4xl font-bold"
        >
          How to enroll
        </h2>
        <p class="mb-4 text-xl text-grayTitle lg:pl-7">
          Enrolling in our training programs is easy. Simply visit our
          enrollment page or contact our training coordinator at
          <a
            href="mailto:training@atc.com.eg"
            class="cursor-pointer text-xl text-grayTitle no-underline hover:text-primary hover:underline"
          >
            training&#64;atc.com.eg
          </a>
          or call us at (15673) for more information.
        </p>
        <div class="lg:pl-7">
          <!-- https://atcprotraining.com/atc-pro-training-course-registration-form -->
          <a
            href="https://atcprotraining.com/"
            target="_blank"
            class="rounded-lg bg-black px-20 py-3 text-xl font-bold text-white no-underline hover:bg-primary"
            >Enroll Now</a
          >
        </div>
      </div>
      <div class="hidden lg:block lg:w-1/2">
        <div
          class="relative left-0 top-0 h-full w-full bg-cover bg-center bg-no-repeat"
          style="
            background-image: url(&quot;pro-training/how_to_enroll.jpeg&quot;);
          "
        ></div>
      </div>
    </div>
  </section>

  <section
    class="relative flex h-fit items-center justify-center bg-black py-10 text-center md:h-[430px]"
  >
    <div class="absolute inset-0">
      <img
        src="pro-training/contact_pro_training.jpg"
        alt="contact_us"
        class="h-full w-full object-cover"
      />
      <div class="absolute inset-0 bg-black opacity-80"></div>
    </div>
    <div class="relative z-10 mx-auto max-w-screen-xl px-4 py-10 text-white">
      <p class="mb-5 text-2xl font-bold lg:text-3xl">Contact us</p>
      <p class="mb-8 lg:text-xl">
        For any inquiries or additional information about our training programs,
        please reach out to us at:
      </p>
      <div class="mb-6 grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-4">
        <div class="p-3 text-center">
          <i class="fa-solid fa-envelope mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Email</p>
          <p class="text-sm">info&#64;atcprotraining.com</p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-solid fa-phone-volume mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Phone</p>
          <p class="text-sm">+20 0112636390</p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-solid fa-location-dot mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Address</p>
          <p class="text-sm">
            48 Giza St., 5th Floor, Appt No. 52, FI - Orman Tower Giza,Giza GE
          </p>
        </div>
        <div class="p-3 text-center">
          <i class="fa-solid fa-square-check mb-4 text-4xl text-white"></i>
          <p class="mb-4 text-xl">Follow us</p>
          <div class="flex items-center justify-center gap-4">
            <a
              href="https://www.facebook.com/ATCProTraining"
              target="_blank"
              class="text-white hover:text-primary"
            >
              <i class="fa-brands fa-facebook-square text-xl"></i>
            </a>
            <a
              href="https://www.linkedin.com/company/atcprotraining"
              target="_blank"
              class="text-white hover:text-primary"
            >
              <i class="fa-brands fa-linkedin text-xl"></i>
            </a>
            <a
              href="https://www.instagram.com/atcprotraining"
              target="_blank"
              class="text-white hover:text-primary"
            >
              <i class="fa-brands fa-instagram text-xl"></i>
            </a>
          </div>
        </div>
      </div>
      <p>
        Join ATC Pro Online Training today and take the next step in advancing
        your professional career!
      </p>
    </div>
  </section>
</main>
<app-footer></app-footer>
