<nav class="flex h-12 w-full items-center bg-[#F9F7F7]">
  <div class="mx-auto w-full max-w-screen-2xl">
    <div
      class="ml-auto flex h-full items-center justify-center gap-3 p-2 md:justify-end md:gap-12"
    >
      <span class="flex items-center text-xl text-[#999694]">
        <i class="fa-solid fa-phone mr-1 text-lg"></i>
        15673
      </span>
      <ul class="m-0 flex list-none gap-2 p-0 md:gap-3">
        <li>
          <a
            href="https://www.facebook.com/p/ATC-Group-100067854885668"
            target="_blank"
          >
            <span class="sr-only">Facebook</span>
            <i
              class="fa-brands fa-square-facebook fa-xl text-black hover:text-primary"
            ></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/atcgroup.eg" target="_blank">
            <span class="sr-only">Instagram</span>
            <i
              class="fa-brands fa-square-instagram fa-xl text-black hover:text-primary"
            ></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/atcgroupmiddleeast"
            target="_blank"
          >
            <span class="sr-only">Linked in</span>
            <i
              class="fa-brands fa-linkedin fa-xl text-black hover:text-primary"
            ></i>
          </a>
        </li>
        <li>
          <a href="https://x.com/ATCGroup143796" target="_blank">
            <span class="sr-only">X</span>
            <i
              class="fa-brands fa-square-x-twitter fa-xl text-black hover:text-primary"
            ></i>
          </a>
        </li>
      </ul>
      <div class="flex items-center gap-2 md:gap-4">
        <a
          href="https://www.atcksa.com"
          target="_blank"
          class="flex items-center border border-solid border-black p-2 text-black no-underline hover:text-black"
        >
          <i class="fa-solid fa-globe mr-1 font-bold text-primary"></i>
          <span class="font-bold">KSA</span>
        </a>

        <a
          href="https://atcemirates.com"
          target="_blank"
          class="flex items-center border border-solid border-black p-2 text-black no-underline hover:text-black"
        >
          <i class="fa-solid fa-globe mr-1 text-primary"></i>
          <span class="font-bold">UAE</span>
        </a>
      </div>
    </div>
  </div>
</nav>
